<section>
  <div class="navbar">
    SportsRadio
  </div>
  <div class="header">
    Tennis Series : {{filter}}
  </div>
  <div class="filter">
    <button class="btn rounded-pill" name="ALL" (click)="filterData($event.target)" [ngClass]="filter=='ALL'?'active':''">ALL</button>
    <button class="btn rounded-pill" name="MEN" (click)="filterData($event.target)" [ngClass]="filter=='MEN'?'active':''">MEN</button>
    <button class="btn rounded-pill" name="WOMEN" (click)="filterData($event.target)" [ngClass]="filter=='WOMEN'?'active':''">WOMEN'S</button>
  </div>
  <div class="day" *ngFor="let mapEntry of dateMap | keyvalue">
    <div *ngIf="mapEntry.value.length>0" class="datebar" >
      <div style="padding: 15px 1%;">
        <span style="font-size: 1em; color: greenyellow;">
          <i class="fas fa-baseball-ball"></i>
        </span>
        {{mapEntry.key}}
      </div>
    </div>
    <div *ngFor="let match of mapEntry.value">
      <ng-container *ngIf="filter=='ALL' || match.gender==filter.toLowerCase()">
        <div>
          <div>
            <app-matches [match]="match"></app-matches>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>